@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-WpkT8IBGzP60: #000000d9;
  --plasmic-token-unnamed-style-token: var(--token-WpkT8IBGzP60);
  --token-abF1h8Wl1hqd: #0fb5ab;
  --plasmic-token-unnamed-style-token-2: var(--token-abF1h8Wl1hqd);
  --token-zcqC9y-a5VaX: #1e1e1ed9;
  --plasmic-token-unnamed-style-token-3: var(--token-zcqC9y-a5VaX);
  --token-62R8FSudMaS3: 1px;
  --plasmic-token-unnamed-style-token-4: var(--token-62R8FSudMaS3);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-JoJYg-Iq_TOF_font-family: "Inter", sans-serif;
  --mixin-JoJYg-Iq_TOF_font-size: 16px;
  --mixin-JoJYg-Iq_TOF_font-weight: 400;
  --mixin-JoJYg-Iq_TOF_font-style: normal;
  --mixin-JoJYg-Iq_TOF_color: #535353;
  --mixin-JoJYg-Iq_TOF_text-align: left;
  --mixin-JoJYg-Iq_TOF_text-transform: none;
  --mixin-JoJYg-Iq_TOF_line-height: 1.5;
  --mixin-JoJYg-Iq_TOF_letter-spacing: normal;
  --mixin-JoJYg-Iq_TOF_white-space: pre-wrap;
  --mixin-JoJYg-Iq_TOF_user-select: text;
  --mixin-JoJYg-Iq_TOF_text-decoration-line: none;
  --mixin-JoJYg-Iq_TOF_text-overflow: clip;
  --mixin-wNnq4iiZN2eK_color: #000000;
  --mixin-wNnq4iiZN2eK_font-weight: 700;
  --mixin-wNnq4iiZN2eK_font-size: 64px;
  --mixin-wNnq4iiZN2eK_line-height: 1;
  --mixin-wNnq4iiZN2eK_letter-spacing: -1px;
  --mixin-wNnq4iiZN2eK_white-space: pre-wrap;
  --mixin-6WDE74ITwGYY_color: #000000;
  --mixin-6WDE74ITwGYY_font-size: 48px;
  --mixin-6WDE74ITwGYY_font-weight: 700;
  --mixin-6WDE74ITwGYY_letter-spacing: -0.5px;
  --mixin-6WDE74ITwGYY_line-height: 1.1;
  --mixin-6WDE74ITwGYY_white-space: pre-wrap;
  --mixin-7vleygOMyVgT_color: #0070f3;
  --mixin-7vleygOMyVgT_white-space: pre-wrap;
  --mixin-S_dUw0aza_RS_color: #000000;
  --mixin-S_dUw0aza_RS_font-size: 32px;
  --mixin-S_dUw0aza_RS_font-weight: 600;
  --mixin-S_dUw0aza_RS_line-height: 1.2;
  --mixin-S_dUw0aza_RS_white-space: pre-wrap;
  --mixin-aNGeZ6ts_aY5_color: #000000;
  --mixin-aNGeZ6ts_aY5_font-size: 24px;
  --mixin-aNGeZ6ts_aY5_font-weight: 600;
  --mixin-aNGeZ6ts_aY5_line-height: 1.3;
  --mixin-aNGeZ6ts_aY5_white-space: pre-wrap;
  --mixin-mozV_oazA0UA_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mozV_oazA0UA_border-bottom-color: #dddddd;
  --mixin-mozV_oazA0UA_border-bottom-style: solid;
  --mixin-mozV_oazA0UA_border-bottom-width: 1px;
  --mixin-mozV_oazA0UA_border-left-color: #dddddd;
  --mixin-mozV_oazA0UA_border-left-style: solid;
  --mixin-mozV_oazA0UA_border-left-width: 1px;
  --mixin-mozV_oazA0UA_border-right-color: #dddddd;
  --mixin-mozV_oazA0UA_border-right-style: solid;
  --mixin-mozV_oazA0UA_border-right-width: 1px;
  --mixin-mozV_oazA0UA_border-top-color: #dddddd;
  --mixin-mozV_oazA0UA_border-top-style: solid;
  --mixin-mozV_oazA0UA_border-top-width: 1px;
  --mixin-mozV_oazA0UA_border-bottom-left-radius: 3px;
  --mixin-mozV_oazA0UA_border-bottom-right-radius: 3px;
  --mixin-mozV_oazA0UA_border-top-left-radius: 3px;
  --mixin-mozV_oazA0UA_border-top-right-radius: 3px;
  --mixin-mozV_oazA0UA_font-family: "Inconsolata";
  --mixin-mozV_oazA0UA_padding-bottom: 1px;
  --mixin-mozV_oazA0UA_padding-left: 4px;
  --mixin-mozV_oazA0UA_padding-right: 4px;
  --mixin-mozV_oazA0UA_padding-top: 1px;
  --mixin-mozV_oazA0UA_white-space: pre-wrap;
  --mixin-0N5d38dLluAm_border-left-color: #dddddd;
  --mixin-0N5d38dLluAm_border-left-style: solid;
  --mixin-0N5d38dLluAm_border-left-width: 3px;
  --mixin-0N5d38dLluAm_color: #888888;
  --mixin-0N5d38dLluAm_padding-left: 10px;
  --mixin-0N5d38dLluAm_white-space: pre-wrap;
  --mixin-F-FOWMvs-uAk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-F-FOWMvs-uAk_border-bottom-color: #dddddd;
  --mixin-F-FOWMvs-uAk_border-bottom-style: solid;
  --mixin-F-FOWMvs-uAk_border-bottom-width: 1px;
  --mixin-F-FOWMvs-uAk_border-left-color: #dddddd;
  --mixin-F-FOWMvs-uAk_border-left-style: solid;
  --mixin-F-FOWMvs-uAk_border-left-width: 1px;
  --mixin-F-FOWMvs-uAk_border-right-color: #dddddd;
  --mixin-F-FOWMvs-uAk_border-right-style: solid;
  --mixin-F-FOWMvs-uAk_border-right-width: 1px;
  --mixin-F-FOWMvs-uAk_border-top-color: #dddddd;
  --mixin-F-FOWMvs-uAk_border-top-style: solid;
  --mixin-F-FOWMvs-uAk_border-top-width: 1px;
  --mixin-F-FOWMvs-uAk_border-bottom-left-radius: 3px;
  --mixin-F-FOWMvs-uAk_border-bottom-right-radius: 3px;
  --mixin-F-FOWMvs-uAk_border-top-left-radius: 3px;
  --mixin-F-FOWMvs-uAk_border-top-right-radius: 3px;
  --mixin-F-FOWMvs-uAk_font-family: "Inconsolata";
  --mixin-F-FOWMvs-uAk_padding-bottom: 3px;
  --mixin-F-FOWMvs-uAk_padding-left: 6px;
  --mixin-F-FOWMvs-uAk_padding-right: 6px;
  --mixin-F-FOWMvs-uAk_padding-top: 3px;
  --mixin-F-FOWMvs-uAk_white-space: pre-wrap;
  --mixin-Gccp3zM0Vxm9_display: flex;
  --mixin-Gccp3zM0Vxm9_flex-direction: column;
  --mixin-Gccp3zM0Vxm9_align-items: stretch;
  --mixin-Gccp3zM0Vxm9_justify-content: flex-start;
  --mixin-Gccp3zM0Vxm9_list-style-position: outside;
  --mixin-Gccp3zM0Vxm9_padding-left: 40px;
  --mixin-Gccp3zM0Vxm9_position: relative;
  --mixin-Gccp3zM0Vxm9_list-style-type: disc;
  --mixin-Gccp3zM0Vxm9_white-space: pre-wrap;
  --mixin-9R5GlDU8qY2p_display: flex;
  --mixin-9R5GlDU8qY2p_flex-direction: column;
  --mixin-9R5GlDU8qY2p_align-items: stretch;
  --mixin-9R5GlDU8qY2p_justify-content: flex-start;
  --mixin-9R5GlDU8qY2p_list-style-position: outside;
  --mixin-9R5GlDU8qY2p_padding-left: 40px;
  --mixin-9R5GlDU8qY2p_position: relative;
  --mixin-9R5GlDU8qY2p_list-style-type: decimal;
  --mixin-9R5GlDU8qY2p_white-space: pre-wrap;
  --mixin-gD-Tcm3p3pwp_color: #000000;
  --mixin-gD-Tcm3p3pwp_font-size: 20px;
  --mixin-gD-Tcm3p3pwp_font-weight: 600;
  --mixin-gD-Tcm3p3pwp_line-height: 1.5;
  --mixin-gD-Tcm3p3pwp_white-space: pre-wrap;
  --mixin-mG31AItYdDiN_color: #000000;
  --mixin-mG31AItYdDiN_font-size: 16px;
  --mixin-mG31AItYdDiN_font-weight: 600;
  --mixin-mG31AItYdDiN_line-height: 1.5;
  --mixin-mG31AItYdDiN_white-space: pre-wrap;
  --mixin-MkQNyHKxBOlQ_color: #3291ff;
  --mixin-MkQNyHKxBOlQ_white-space: pre-wrap;
  --mixin-oaTbCYGExkNJ_white-space: pre-wrap;
  --mixin-4NxrMEO8tKKt_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-JoJYg-Iq_TOF_font-family);
  font-size: var(--mixin-JoJYg-Iq_TOF_font-size);
  font-weight: var(--mixin-JoJYg-Iq_TOF_font-weight);
  font-style: var(--mixin-JoJYg-Iq_TOF_font-style);
  color: var(--mixin-JoJYg-Iq_TOF_color);
  text-align: var(--mixin-JoJYg-Iq_TOF_text-align);
  text-transform: var(--mixin-JoJYg-Iq_TOF_text-transform);
  line-height: var(--mixin-JoJYg-Iq_TOF_line-height);
  letter-spacing: var(--mixin-JoJYg-Iq_TOF_letter-spacing);
  white-space: var(--mixin-JoJYg-Iq_TOF_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-wNnq4iiZN2eK_color);
  font-weight: var(--mixin-wNnq4iiZN2eK_font-weight);
  font-size: var(--mixin-wNnq4iiZN2eK_font-size);
  line-height: var(--mixin-wNnq4iiZN2eK_line-height);
  letter-spacing: var(--mixin-wNnq4iiZN2eK_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-6WDE74ITwGYY_color);
  font-size: var(--mixin-6WDE74ITwGYY_font-size);
  font-weight: var(--mixin-6WDE74ITwGYY_font-weight);
  letter-spacing: var(--mixin-6WDE74ITwGYY_letter-spacing);
  line-height: var(--mixin-6WDE74ITwGYY_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-7vleygOMyVgT_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-S_dUw0aza_RS_color);
  font-size: var(--mixin-S_dUw0aza_RS_font-size);
  font-weight: var(--mixin-S_dUw0aza_RS_font-weight);
  line-height: var(--mixin-S_dUw0aza_RS_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-aNGeZ6ts_aY5_color);
  font-size: var(--mixin-aNGeZ6ts_aY5_font-size);
  font-weight: var(--mixin-aNGeZ6ts_aY5_font-weight);
  line-height: var(--mixin-aNGeZ6ts_aY5_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mozV_oazA0UA_font-family);
  border-radius: var(--mixin-mozV_oazA0UA_border-top-left-radius)
    var(--mixin-mozV_oazA0UA_border-top-right-radius)
    var(--mixin-mozV_oazA0UA_border-bottom-right-radius)
    var(--mixin-mozV_oazA0UA_border-bottom-left-radius);
  padding: var(--mixin-mozV_oazA0UA_padding-top)
    var(--mixin-mozV_oazA0UA_padding-right)
    var(--mixin-mozV_oazA0UA_padding-bottom)
    var(--mixin-mozV_oazA0UA_padding-left);
  border-top: var(--mixin-mozV_oazA0UA_border-top-width)
    var(--mixin-mozV_oazA0UA_border-top-style)
    var(--mixin-mozV_oazA0UA_border-top-color);
  border-right: var(--mixin-mozV_oazA0UA_border-right-width)
    var(--mixin-mozV_oazA0UA_border-right-style)
    var(--mixin-mozV_oazA0UA_border-right-color);
  border-bottom: var(--mixin-mozV_oazA0UA_border-bottom-width)
    var(--mixin-mozV_oazA0UA_border-bottom-style)
    var(--mixin-mozV_oazA0UA_border-bottom-color);
  border-left: var(--mixin-mozV_oazA0UA_border-left-width)
    var(--mixin-mozV_oazA0UA_border-left-style)
    var(--mixin-mozV_oazA0UA_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-0N5d38dLluAm_color);
  padding-left: var(--mixin-0N5d38dLluAm_padding-left);
  border-left: var(--mixin-0N5d38dLluAm_border-left-width)
    var(--mixin-0N5d38dLluAm_border-left-style)
    var(--mixin-0N5d38dLluAm_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-F-FOWMvs-uAk_font-family);
  border-radius: var(--mixin-F-FOWMvs-uAk_border-top-left-radius)
    var(--mixin-F-FOWMvs-uAk_border-top-right-radius)
    var(--mixin-F-FOWMvs-uAk_border-bottom-right-radius)
    var(--mixin-F-FOWMvs-uAk_border-bottom-left-radius);
  padding: var(--mixin-F-FOWMvs-uAk_padding-top)
    var(--mixin-F-FOWMvs-uAk_padding-right)
    var(--mixin-F-FOWMvs-uAk_padding-bottom)
    var(--mixin-F-FOWMvs-uAk_padding-left);
  border-top: var(--mixin-F-FOWMvs-uAk_border-top-width)
    var(--mixin-F-FOWMvs-uAk_border-top-style)
    var(--mixin-F-FOWMvs-uAk_border-top-color);
  border-right: var(--mixin-F-FOWMvs-uAk_border-right-width)
    var(--mixin-F-FOWMvs-uAk_border-right-style)
    var(--mixin-F-FOWMvs-uAk_border-right-color);
  border-bottom: var(--mixin-F-FOWMvs-uAk_border-bottom-width)
    var(--mixin-F-FOWMvs-uAk_border-bottom-style)
    var(--mixin-F-FOWMvs-uAk_border-bottom-color);
  border-left: var(--mixin-F-FOWMvs-uAk_border-left-width)
    var(--mixin-F-FOWMvs-uAk_border-left-style)
    var(--mixin-F-FOWMvs-uAk_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Gccp3zM0Vxm9_display);
  flex-direction: var(--mixin-Gccp3zM0Vxm9_flex-direction);
  align-items: var(--mixin-Gccp3zM0Vxm9_align-items);
  justify-content: var(--mixin-Gccp3zM0Vxm9_justify-content);
  list-style-position: var(--mixin-Gccp3zM0Vxm9_list-style-position);
  padding-left: var(--mixin-Gccp3zM0Vxm9_padding-left);
  position: var(--mixin-Gccp3zM0Vxm9_position);
  list-style-type: var(--mixin-Gccp3zM0Vxm9_list-style-type);
  flex-column-gap: var(--mixin-Gccp3zM0Vxm9_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-9R5GlDU8qY2p_display);
  flex-direction: var(--mixin-9R5GlDU8qY2p_flex-direction);
  align-items: var(--mixin-9R5GlDU8qY2p_align-items);
  justify-content: var(--mixin-9R5GlDU8qY2p_justify-content);
  list-style-position: var(--mixin-9R5GlDU8qY2p_list-style-position);
  padding-left: var(--mixin-9R5GlDU8qY2p_padding-left);
  position: var(--mixin-9R5GlDU8qY2p_position);
  list-style-type: var(--mixin-9R5GlDU8qY2p_list-style-type);
  flex-column-gap: var(--mixin-9R5GlDU8qY2p_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-gD-Tcm3p3pwp_color);
  font-size: var(--mixin-gD-Tcm3p3pwp_font-size);
  font-weight: var(--mixin-gD-Tcm3p3pwp_font-weight);
  line-height: var(--mixin-gD-Tcm3p3pwp_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-mG31AItYdDiN_color);
  font-size: var(--mixin-mG31AItYdDiN_font-size);
  font-weight: var(--mixin-mG31AItYdDiN_font-weight);
  line-height: var(--mixin-mG31AItYdDiN_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-MkQNyHKxBOlQ_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
