.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-as44I7WwR-rZ);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 2767px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__o2Lw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
}
.sitPosture:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  height: 240px;
  margin-top: 40px;
  flex-shrink: 0;
}
.htmlVideo__sHPtt:global(.__wab_instance) {
  width: 150px;
  height: 96px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.naturalStandup:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  height: 240px;
  margin-top: 0px;
  flex-shrink: 0;
}
.htmlVideo__zdqw:global(.__wab_instance) {
  width: 150px;
  height: 96px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.naturalStandupStatus:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: stretch;
  margin-bottom: 40px;
}
.text__ypal8 {
  font-size: 18px;
}
.tryStandup:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  height: 240px;
  margin-top: 0px;
  flex-shrink: 0;
}
.htmlVideo__tf5Gd:global(.__wab_instance) {
  width: 150px;
  height: 96px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.standUpBalance:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  height: 240px;
  margin-top: 0px;
  flex-shrink: 0;
}
.htmlVideo__ytMGz:global(.__wab_instance) {
  width: 150px;
  height: 96px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.useWalker:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: stretch;
  margin-bottom: 40px;
}
.text___98Jyo {
  font-size: 18px;
}
.naturalStand:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  height: 240px;
  margin-top: 0px;
  flex-shrink: 0;
}
.htmlVideo__ha0Wd:global(.__wab_instance) {
  width: 150px;
  height: 96px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.closeEyesStandPush:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  height: 240px;
  margin-top: 0px;
  flex-shrink: 0;
}
.htmlVideo__eaGdI:global(.__wab_instance) {
  width: 150px;
  height: 96px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.closeEyesStandUpBalance:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  height: 240px;
  margin-top: 0px;
  flex-shrink: 0;
}
.htmlVideo__djbNu:global(.__wab_instance) {
  width: 150px;
  height: 96px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.turn360Degrees:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  height: 250px;
  margin-top: 0px;
  flex-shrink: 0;
}
.htmlVideo__vRgAl:global(.__wab_instance) {
  width: 150px;
  height: 96px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.sitDown:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  height: 240px;
  margin-top: 40px;
  flex-shrink: 0;
}
.htmlVideo__xrjz4:global(.__wab_instance) {
  width: 150px;
  height: 96px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.isDanger:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: stretch;
  margin-bottom: 40px;
}
.check:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: stretch;
  width: 333px;
  flex-shrink: 0;
}
